doctype
html
    head
        title
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        link(href="lib/ionic/css/ionic.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
        script(src="jspm_packages/system.js")
        script(src="config.js")
        script(src="app.run.js")
    body
        ion-nav-bar(class='bar-positive')
            ion-nav-back-button

        ion-nav-view