doctype
html
    head
        title
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        link(href="lib/ionic/css/ionic.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        div(class="bar bar-header bar-positive")
            h1.title
                | bar light
