<ion-view view-title="{{ctrl.chat.name}}">
  <ion-content>

    <div class="list">
      <a class="item item-avatar" href="#" ng-repeat="message in ctrl.messagesData">
        <img src="venkman.jpg">
        <h2>{{message.user}}</h2>
        <p>{{message.message}}</p>
      </a>
    </div>

    <div class="padding">
      <label class="item item-input">
          <textarea
            required
            placeholder="{{ i18n['leave-message'] || 'Leave Message' }}"
            ng-model="ctrl.newMessage"></textarea>
      </label>
      <a class="button button-block button-positive"
         ng-disabled="!ctrl.newMessage"
         ng-click="ctrl.send()">
        {{ i18n['submit'] || 'Submit' }}
      </a>
    </div>

  </ion-content>
</ion-view>
