<ion-view view-title="{{ctrl.viewTtitle}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="link in ctrl.links"
                type="item-text-wrap"
                href="#/tab/{{link.url}}/{{link.id}}">

        <img ng-src="{{link.imageUrl}}">
        <h2>{{ i18n[link.title] || link.title }}</h2>
        <p>{{link.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
